{% extends 'layout.html' %} {% block content %}
<div class="container">
  <h1>30 Days of Python Programming</h1>
  <p>
This application clean texts and analyse the number of word, characters and most frequent words in the text.
 Check it out by click text analyzer at the menu. You need the following technologies to build this web application
 :
  </p>
  <ol class="tech-lists">
    <li class="numbered items">Front end
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
    </ul></li>
    <li class="numbered items">Back End
      <ul>
        <li>Python</li>
        <li>Flask</li>
        <li>MongoDB</li>
      </ul>
    </li>
  </ol>
</div>

{% endblock %}